* {
  box-sizing: border-box;
}

body {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  color: #282828;
  margin: auto;
  background-position: 60% 0;
}
body h1 {
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 4px 4px 2px rgba(65, 72, 86, 0.7), 0 0 2px rgba(65, 72, 86, 0.7);
}
body .container {
  width: 550px;
  margin: auto;
  position: relative;
}
body .container::before {
  content: "";
  display: block;
  width: 80vmin;
  height: 80vmin;
  background-image: url(./background-image.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  left: 70px;
}
body .container .todo-form {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  padding: 5px 0px 5px 10px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 4px 4px 10px 2px rgba(65, 72, 86, 0.7);
  margin-bottom: 5px;
  transition: 1s;
}
body .container .todo-form input[type=text] {
  border: none;
  width: 90%;
  padding: 5px;
  float: left;
  font-size: 14px;
}
body .container .list-block {
  background-color: #ffffff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 4px 4px 10px 2px rgba(65, 72, 86, 0.7);
  transition: 1s;
}
body .container .list-block .list {
  list-style: none;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
body .container .list-block .list li {
  position: relative;
  font-size: 14px;
  padding: 5px;
  display: flex;
  align-items: center;
  border-top: 0.5px solid rgba(65, 72, 86, 0.2);
  opacity: 1;
  cursor: pointer;
}
body .container .list-block .list li:hover {
  background: #eee;
  opacity: 0.5;
}
body .container .list-block .list li .task-done {
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
body .container .list-block .list li .task-done span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
body .container .list-block .list li .task-done span:first-child {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #b9b8c3;
  transition: all 0.2s ease;
}
body .container .list-block .list li .task-done span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 6px;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
body .container .list-block .list li .task-done span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506eec;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  transition-delay: 0.2s;
}
body .container .list-block .list li .task-done span:last-child {
  margin: 0 10px;
}
body .container .list-block .list li .task-done span:last-child:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #b9b8c3;
  transform-origin: 0 0;
  transform: scaleX(0);
}
body .container .list-block .list li .task-done:hover span:first-child {
  border-color: #3c53c7;
}
body .container .list-block .list li .task-done:checked and body .container .list-block .list li .task-donespan:first-child {
  border-color: #3c53c7;
  background: #3c53c7;
  -webkit-animation: check 0.6s ease;
          animation: check 0.6s ease;
}
body .container .list-block .list li .task-done:checked and body .container .list-block .list li .task-donespan:first-child svg {
  stroke-dashoffset: 0;
}
body .container .list-block .list li .task-done:checked and body .container .list-block .list li .task-donespan:first-child::before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}
body .container .list-block .list li .task-done:checked and body .container .list-block .list li .task-donespan:last-child {
  color: #b9b8c3;
  transition: all 0.3s ease;
}
body .container .list-block .list li .task-done:checked + body .container .list-block .list li .task-donespan:last-child:after {
  transform: scaleX(1);
  transition: all 0.3s ease;
}
body .container .list-block .list li .delete__button {
  position: absolute;
  right: 5px;
  font-family: "Prompt", sans-serif;
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}
body .container .list-block .list li .delete__button:hover {
  opacity: 1;
}
body .container:not(:hover) .todo-form,
body .container:not(:hover) .list-block {
  background-color: rgba(255, 255, 255, 0.3) !important;
}
body .container:not(:hover) input,
body .container:not(:hover) form {
  background-color: rgba(255, 255, 255, 0);
}
body .status-block {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  height: 35px;
  padding: 5px 10px;
  border-top: 0.5px solid rgba(65, 72, 86, 0.2);
}
body .status-block .left-items {
  opacity: 0.5;
  font-size: 12px;
}
body .status-block .filters {
  display: flex;
}
body .status-block .clear__buttons {
  display: flex;
}
.info-block {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  color: #282828;
  opacity: 0.6;
}

.button {
  font-family: "Prompt", sans-serif;
  font-size: 11px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.button:hover {
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */