@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  color: #282828;
  margin: auto;
  background-position: 60% 0;
}
body h1 {
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 4px 4px 2px rgba(65, 72, 86, 0.7), 0 0 2px rgba(65, 72, 86, 0.7);
}
body .container {
  width: 550px;
  margin: auto;
  position: relative;
}
body .container::before {
  content: "";
  display: block;
  width: 80vmin;
  height: 80vmin;
  background-image: url(./background-image.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  left: 70px;
}
body .container .button {
  font-family: "Prompt", sans-serif;
  font-size: 11px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
body .container .button:hover {
  font-weight: 500;
}
body .container .todo-form {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  padding: 5px 0px 5px 10px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 4px 4px 10px 2px rgba(65, 72, 86, 0.7);
  margin-bottom: 5px;
  transition: 1s;
}
body .container .list-block {
  background-color: #ffffff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 4px 4px 10px 2px rgba(65, 72, 86, 0.7);
  transition: 1s;
}
body .container .list-block .list {
  list-style: none;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
body .container .list-block .list li {
  position: relative;
  font-size: 14px;
  padding: 5px;
  display: flex;
  align-items: center;
  border-top: 0.5px solid rgba(65, 72, 86, 0.2);
  opacity: 1;
  cursor: pointer;
}
body .container .list-block .list li:hover {
  background: #eee;
  opacity: 0.5;
}
body .container .list-block .list li label {
  justify-content: center;
  display: flex;
}
body .container .list-block .list li label input {
  display: none;
}
body .container .list-block .list li label::before {
  background-color: transparent;
  border: 1px solid #3d2872;
  margin: 0 auto;
  border-radius: 100%;
  content: " ";
  width: 15px;
  height: 15px;
  margin-right: 5px;
  transition: all 0.1s ease-in, border-color 0.05s ease-in;
}
body .container .list-block .list li label:has(:checked)::before {
  content: "✓";
  justify-content: center;
  text-align: center;
  display: inline-block;
  color: #fff;
  border-color: #3d2872;
  background-color: #3d2872;
  width: 15px;
  height: 15px;
}
body .container .list-block .list li .delete__button {
  position: absolute;
  right: 5px;
  font-family: "Prompt", sans-serif;
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}
body .container .list-block .list li .delete__button:hover {
  opacity: 1;
}
body .container .list-block .status-block {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  height: 35px;
  padding: 5px 10px;
  border-top: 0.5px solid rgba(65, 72, 86, 0.2);
}
body .container .list-block .status-block .left-items {
  opacity: 0.5;
  font-size: 12px;
}
body .container .list-block .status-block .filters {
  display: flex;
  gap: 10px;
}
body .container .list-block .status-block .filters label:has(:checked) {
  font-weight: bold;
}
body .container .list-block .status-block .clear__buttons {
  display: flex;
}
body .container .list-block:has([value=active]:checked) li:has(:checked) {
  display: none;
}
body .container .list-block:has([value=completed]:checked) li:not(:has(:checked)) {
  display: none;
}
body .container .info-block {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  color: #282828;
  opacity: 0.6;
}
body .container input[type=text] {
  border: none;
  width: 90%;
  padding: 5px;
  float: left;
  font-size: 14px;
  outline: none;
}
body:not(:hover) .todo-form,
body:not(:hover) .list-block {
  background-color: rgba(255, 255, 255, 0.3) !important;
}
body:not(:hover) input,
body:not(:hover) form {
  background-color: rgba(255, 255, 255, 0);
}/*# sourceMappingURL=style.css.map */