* {
  box-sizing: border-box;
}

body {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  color: #282828;
  margin: auto;
  background-position: 60% 0;

  h1 {
    letter-spacing: 5px;
    color: #ffffff;
    text-shadow: 4px 4px 2px rgba(#414856, 0.7), 0 0 2px rgba(#414856, 0.7);
  }

  .container {
    width: 550px;
    margin: auto;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 80vmin;
      height: 80vmin;
      background-image: url(./background-image.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
      position: absolute;
      left: 70px;
    }

    .button {
      font-family: "Prompt", sans-serif;
      font-size: 12px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        color: #3d2872;
        font-weight: bold;
      }
    }

    .todo-form {
      background-color: #ffffff;
      display: flex;
      justify-content: flex-start;
      padding: 5px 0px 5px 10px;
      align-items: center;
      border-radius: 5px;
      box-shadow: 4px 4px 10px 2px rgba(#414856, 0.7);
      margin-bottom: 5px;
      transition: 1s;

      input[type="checkbox"] {
      }
    }

    .list-block {
      background-color: #ffffff;
      height: fit-content;
      border-radius: 5px;
      box-shadow: 4px 4px 10px 2px rgba(#414856, 0.7);
      transition: 1s;

      .list {
        list-style: none;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;

        li {
          position: relative;
          font-size: 14px;
          padding: 5px;
          display: flex;
          align-items: center;
          border-top: 0.5px solid rgba(#414856, 0.2);
          opacity: 1;
          cursor: pointer;

          &:hover {
            background: #eee;
            opacity: 0.5;
          }

          label {
            display: flex;
            flex-grow: 1;
            align-items: center;

            input {
              display: none;
            }

            &::before {
              background-color: transparent;
              border: 1px solid #3d2872;
              border-radius: 100%;
              content: "\2714";
              display: inline-block;
              justify-content: center;
              text-align: center;
              width: 15px;
              height: 15px;
              margin-right: 5px;
              transition: all 0.3s ease-in;
              color: #fff;
              font-size: 11px;
            }

            &:has(:checked)::before {
              background-color: #3d2872;
            }
          }

          .delete__button {
            position: absolute;
            right: 5px;
            font-family: "Prompt", sans-serif;
            font-size: 14px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            opacity: 0.5;

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      .status-block {
        display: flex;
        font-size: 12px;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        text-align: center;
        height: 35px;
        padding: 5px 10px;
        border-top: 0.5px solid rgba(#414856, 0.2);

        .task-counter {
          opacity: 0.5;
          font-size: 12px;
        }

        .filters {
          display: flex;
          gap: 10px;

          label:has(:checked) {
            font-weight: bold;
            color: #3d2872;
          }
        }

        .clear__buttons {
          display: flex;
        }

        &:has([value="active"]:checked) {
          .task-counter:is(.all, .completed) {
            display: none;
          }
        }
        &:has([value="all"]:checked) {
          .task-counter:is(.active, .completed) {
            display: none;
          }
        }
        &:has([value="completed"]:checked) {
          .task-counter:is(.all, .active) {
            display: none;
          }
        }
      }

      &:has([value="active"]:checked) {
        li:has(:checked) {
          display: none;
        }
      }

      &:has([value="completed"]:checked) {
        li:not(:has(:checked)) {
          display: none;
        }
      }
    }

    .info-block {
      font-size: 12px;
      text-align: center;
      margin-top: 20px;
      color: #282828;
      opacity: 0.6;
    }

    input[type="text"] {
      border: none;
      width: 90%;
      padding: 5px;
      float: left;
      font-size: 14px;
      outline: none;
      background: none;
    }
  }

  .footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    flex-direction: column;
    color: #3d2872;
    bottom: 0;
    width: 100%;
    height: 80px;
    position: fixed;
  }
  .links {
    display: flex;
    justify-content: center;
    gap: 5px;

    .link {
      width: 35px;
      height: 35px;
      background-repeat: no-repeat;
    }

    .github_link {
      background-image: url("./assets/svg/github.svg");
    }

    .linkedin_link {
      background-image: url("./assets/svg/linkedin.svg");
    }

    .instagram_link {
      background-image: url("./assets/svg/instagram.svg");
    }
  }

  &:not(:hover) {
    .todo-form,
    .list-block {
      background-color: rgba(#ffffff, 0.3) !important;
    }

    form {
      background-color: rgba(#ffffff, 0);
    }
  }
}
